<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">WeatherNow</a>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">WeatherNow</h1>
            <p class="lead">Find the current weather anywehere, anytime.</p>
            <hr class="my-4">
            <p>You may type only the city i.e. 'Toronto' or the city with the country i.e 'Toronto, CA'.</p>
        </div>
    </div>
</header>

<app-city-weather></app-city-weather>

<footer class="text-center">
    Andres Munevar - 991568888
</footer>
<router-outlet></router-outlet>